[Unit]
Description=Start Minecraft dedicated server
After=network-online.target podman.service
Requires=network-online.target podman.service
ConditionPathExists=/usr/bin/podman-compose

[Service]
ExecStart=/usr/bin/podman-compose -f /home/fcosmine/compconf/fcosmine.yml up
ExecStop=/usr/bin/podman-compose -f /home/fcosmine/compconf/fcosmine.yml down

[Install]
WantedBy=multi-user.target
