[Unit]
Description=Allow Minecraft Server through Firewall
Wants=network-online.target
After=network-online.target
Before=zincati.service
ConditionPathExists=!/var/lib/done-allow-minecraft-and-openssh-through-firewall.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/firewall-cmd --reload
ExecStart=/usr/bin/firewall-cmd --add-service fcosmine --permanent
ExecStart=/usr/bin/firewall-cmd --reload
ExecStart=/bin/touch /var/lib/done-allow-minecraft-and-openssh-through-firewall.stamp

[Install]
WantedBy=multi-user.target
