[Unit]
Description=Allow Minecraft Server through Firewall
After=firewalld.service
Requires=firewalld.service
ConditionPathExists=!/var/lib/done-allow-minecraft-server-through-firewall.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/firewall-cmd --reload
ExecStart=/usr/bin/firewall-cmd --add-service fcosmine --permanent
ExecStart=/usr/bin/firewall-cmd --reload
ExecStart=/bin/touch /var/lib/done-allow-minecraft-server-through-firewall.stamp

[Install]
WantedBy=multi-user.target
