[Unit]
Description=Layer Podman Compose and Firewalld with rpm-ostree
After=network-online.target
Requires=network-online.target
Before=zincati.service
ConditionPathExists=!/var/lib/%N.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/rpm-ostree install --assumeyes --allow-inactive podman-compose firewalld
ExecStart=/usr/bin/systemctl --no-block reboot
ExecStart=/bin/touch /var/lib/%N.stamp

[Install]
WantedBy=multi-user.target
