[Unit]
Description=Layer Podman Compose and Firewalld with rpm-ostree
After=network-online.target
Requires=network-online.target
Before=zincati.service
ConditionPathExists=!/var/lib/done-install-podman-compose-and-firewalld.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/rpm-ostree install --apply-live --assumeyes podman-compose firewalld
ExecStart=/bin/touch /var/lib/done-install-podman-compose-and-firewalld.stamp

[Install]
WantedBy=multi-user.target
